* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    height: 500px;
    width: 700px;
    background-color: aquamarine;
    padding: 10px 10px;
}

.content header h1 {
    margin-bottom: 20px;
}

section p {
    padding: 5px 5px;
}

input#verificar {
    padding: 3px 5px;
    background-color: bisque;
    cursor: pointer;
    border-radius: 5px;
}

div#res {
    padding: 5px 5px;
    text-align: center;
}